
/*-------------------- VARIABLES --------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap')

/* General */
// $text-theme: #0d47a0
$text-theme: #326B80
//$text-theme: #326B80 // verde azul
$text-theme: #124880 // verde azul
$color-theme: #124880

/* Navbar */ 
$bg-navbar: transparent
$background-navbar-logo: transparent
$text-navbar: red

/*-------------- GENERAL CSS --------------*/

*
    margin: 0
    padding: 0
    box-sizing: border-box
body 
    font-family: 'Raleway', sans-serif
h2 
    font-size: 36px
h4 
    font-size: 25px
h5
    font-size: 14px
.full-screen
    width: 100%
    height: 100vh
.object-fit-cover
    object-fit: cover
.fab 
    padding: 20px 0
.max-width
    max-width: 1000px
.full-screen
    width: 100%
    height: 100vh

/*--------------- COLORES ---------------*/

.color-theme 
    background-color: $color-theme
.text-theme
    color: $color-theme
.bg-light-blue-1
    background-color: lighten($color-theme,58% )
.bg-light-blue-2
    background-color: lighten($color-theme,55% )
.bg-light-blue-3
    background-color: lighten($color-theme, 52%)
.bg-light-blue-4
    background-color: lighten($color-theme, 49%)
.bg-light-blue-5
    background-color: lighten($color-theme, 46%)

/*-------------------- LOGO --------------------*/  

/* General Logo CSS */
.bg-logo
    background-color: $background-navbar-logo

/*------------------- NAVBAR -------------------*/

/* General Navbar CSS */
header 
    background-color: $bg-navbar
.navbar 
    background-color: $bg-navbar
    padding: 20px
    .social-icons
        padding: 0 auto !important
.navbar-nav 
    height: 60vh
.text-navbar
    color: $text-navbar
.active 
    border-bottom: 2px solid #ffffff
.info
    background-color: darken($color-theme, 5%)
.txt-banner
    color: #ffffff
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-weight: bold
    font-size: 12px
.flag
    width: 30px
    height: 20px
.solid 
    background-color: $color-theme
.hr-header
    height: 2px
    background-color: aliceblue 
    width: 80% 
    margin: auto

/* Navbar Media Queries */
@media screen and (min-width: 768px)
    .navbar
        padding: 0
    .navbar-nav 
        height: 75vh
    .nav-item
        margin: auto
@media screen and (min-width: 1024px)
    .navbar
        padding: 0
    .navbar-nav
        height: auto
    .nav-item
        width: 150px
        height: 70px
        text-align: center
        font-size: 1em
        margin: auto 0
        display: flex
        align-items: center
        justify-content: center
        &:hover
            background-color: darken($color-theme, 5%)
@media screen and (max-width: 576px)
    .dropdown-menu
        background-color: $color-theme
    .dropdown-item
        color: #ffffff


/*-------------------- BUTTON --------------------*/ 

 /* General Button CSS */
.btn 
    border-radius: 10px
.btn-theme
    background-color: $color-theme
    color: #ffffff
    &:hover 
        color: #ffffff

/*------------------ BIENVENIDA ------------------*/ 

/* General Bienvenida CSS */

/* Bienvenida Media Queries */
@media screen and ( min-width: 576px )
    .slogan
        font-size: 25px
        margin-top: 30px
    
/*----------------- INDEX -----------------*/

 /* General Index CSS */
.index
    z-index: 0
    .view
        height: 40vh
    .btn 
        margin-top: 20px   
    img 
        height: 40vh
        object-fit: cover
.hr-card
    height: 3px
    background-color: $color-theme
    width: 200px
    transform: skew(33deg)

/* Index Media Queries */
@media screen and (max-width: 576px)
    .index
        .view , img
            height: 50vh
    .btn-contacto


/*------------ SOBRE NOSOTROS ------------*/

/*  Sobre Nosotros General CSS */
.clientes
    padding: 60px
.carousel
    .active 
        border-bottom: 0
    .carousel-item
        width: 100%
        height: 30vh
    .content-img
        width: 100%
        height: 30vh
        display: flex
        align-items: center
        justify-content: center
        background-color: lightgray
        .coca-cola
            width: 200px
            position: relative
            top: 0

/* Carousel Clientes Media Queries */
@media screen and (min-width: 768px)
    .about
        .img-title
            position: relative
            top: 0 px
    .clientes
        padding: 40px
        height: 50vh
        .carousel
            margin-top: 60px
            width: 100%
            height: 20vh
            display: flex
            align-items: center
            justify-content: center
            .content-img
                width: 100%
                .susimpatica
                    width: 200px
                .adidas
                    width: 100px
                .coca-cola
                    width: 200px
@media screen and (max-width: 768px)
    .about
        .img-title
            position: relative
            top: 0
    .content-img
        width: 100%
        height: 100vh
        margin: auto
    .clientes
        height: auto
        .susimpatica
            width: 200px
        .adidas
            width: 100px
        .coca-cola
            width: 200px
            position: relative
            top: -70px
@media screen and (min-width: 1280px)
    .about
        .img-title
            position: relative
            top: 0
    .content-img
        width: 100%
        margin: auto

        .susimpatica
            width: 200px
        .adidas
            width: 100px
        .coca-cola
            width: 200px
            position: relative
            top: -70px
    .about 
        .section-img
            width: 100%
            height: 100vh
            position: absolute
            top: -300px
    .clientes
        height: auto
/*-------------- SERVICIOS --------------*/

 /*  Servicios General CSS */
.services 
    .card-title
        padding-top: 10px
        color: $color-theme
        text-align: center
    .responsivo
        img 
            width: 100%
            height: 100%
            object-fit: cover
    .card-text 
        padding: 20px

/* Clientes */
.clientes
    min-height: 60vh


/*---------------- BLOG ----------------*/

/* Blog General CSS */
.blog
    .card-body
        padding: 1.875rem
    p 
        padding: 0

    .card-img-top
        height: 200px
        object-fit: cover
    .blog-subtitle
        font-size: 0.8rem
    .content-wrapper
        min-height: 24vh
        p 
            margin-top: 60px

/* Articulo Media Queries */
@media screen and (min-width: 576px)
    .article
        .content-wrapper
            padding-top: 5rem
            p
                margin-top: 0


/*----------- ARTICULO -----------*/

/* Articulo General CSS */
.article
    .view
        height: 60vh
        img 
            height: 60vh
            object-fit: cover
.texto-articulo
    position: absolute
    top: 30vh
    width: 48vw
    left: 26vw
    right: 26vw
    height: 40vh
.titulo-texto 
    font-size: 2em
.articulo-subtitle
    font-size: 1em
.modal 
    margin: auto


/*-------------- CONTACTO --------------*/

 /* Contacto General CSS */
.section-content
    
    &__pregunta-contacto
        font-size: 20px
        text-align: justify
    &__map-container
        height: 40vh

.md-textarea
    min-height: 200px
    max-height: 200px

.form-label
    font-size: 1em

/* Contacto Media Queries */
@media screen and (min-width: 576px)
    .section-content__pregunta-contacto
        font-size: 25px
@media screen and (min-width: 776px)
    .contact
        .section-img 
            position: fixed
            top: -200px


/*----------- FOOTER -----------*/

/* Footer General CSS */
footer
    .footer-hr 
        height: 0.1875rem
        background-color: #ffffff
        width: 12.5rem
        margin: auto
        transform: skew(33deg)
    @media screen and (min-width: 576px)
        .footer-hr 
            margin: 0
    .mensaje 
        font-size: 1.125rem
    .footer-link 
        font-size: 1.125rem
    .fab
        font-size: 40px

/*------------------ SECTION ------------------*/

/* General Section CSS */
.main
    margin-top: 160px
    .view
        width: 100%
        height: 30vh
        h1 
            text-align: center
            margin: auto
            font-size: 40px
.section-img 
    width: 100vw
    height: 100vh  
    position: fixed
    object-fit: cover
    overflow: hidden
    z-index: -1
.hr-section-title
    height: 3px
    background-color: $color-theme
    width: 200px
    margin: 10px auto
    transform: skew(33deg)
.section-content
    .content-wrapper 
        margin: auto
        padding: 60px 40px
        p 
            color: #263238
            text-align: justify
.content-h2
    font-weight: bold
    padding: 30px 0

/* Section Media Queries */
@media screen and (min-width: 576px) //section wrapper
    .section-wrapper
        .view
            height: 50vh
        .section-image
            height: 50vh