/*----------- ARTICULO -----------*/

$article-title-height : 35vh

/* Articulo General CSS */


.o-section

        &__img
            width: 100%
            height: 100vh
            position: fixed
            object-fit: cover
            overflow: hidden
            z-index: -1 //no mover

        &__h1
            font-size: 2em

        &__subtitle
            font-size: 1em

.modal 
    margin: auto

.o-section-content

    &__img
        cursor: pointer

.o-section-pagination
    margin: auto
