/*----------- ARTICULO -----------*/

$article-title-image-height : 50vh

/* Articulo General CSS */
.article
    .view, .section-img
        height: $article-title-image-height
        .section-img
            object-fit: cover
.texto-articulo
    position: absolute
    top: 30vh
    width: 48vw
    left: 26vw
    right: 26vw
    height: 40vh
.titulo-texto 
    font-size: 2em
.articulo-subtitle
    font-size: 1em
.modal 
    margin: auto
.section-content__img
    cursor: pointer
