
/*==================== COLORES ====================*/
    
.s-color-theme 
    background-color: $s-color-theme

.s-text-theme
    color: $s-text-theme

.s-color-theme-1
    background-color: lighten($s-color-theme,58%)

.s-color-theme-2
    background-color: lighten($s-color-theme,55%)

.s-color-theme-3
    background-color: lighten($s-color-theme,52%)

.s-color-theme-4
    background-color: lighten($s-color-theme,49%)

.s-color-theme-5
    background-color: lighten($s-color-theme,46%)

.s-color-theme-6
    background-color: lighten($s-color-theme,43%)

.s-color-theme-7
    background-color: lighten($s-color-theme,40%)
