/*================== VARIABLES ==================*/

//Colores
$s-text-theme: #124880 
$s-color-theme: #124880

//Navbar
$s-bg-navbar: transparent
$s-background-navbar-logo: transparent
$s-text-navbar: #ffffff

//========= Index ===========//

//landscape
$s-index-card-height-sm: 63vh
//tablet
$s-index-card-height-md: 42.5vh
//laptop
$s-index-card-height-lg: 44.5vh
//desktop
$s-index-card-height-xl: 42vh

//======= Article =======//
$article-title-height : 30vh
